<p id="notice"><%= notice %></p>

<h1>Users#show</h1>

<p>
  <strong>登録名:</strong>
  <%= @user.display_name %>
</p>

<p>
  <strong>苗字:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>名前:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>住所:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>e-mail:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>パスワード:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>ポジション:</strong>
    <%= @user.position_i18n %>
</p>

<p>
  <strong>背番号:</strong>
  <%= @user.number %>
</p>

<p>
  <strong>管理者:</strong>
  <%= @user.admin %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


<p>Find me in app/views/users/show.html.erb</p>
