<h1>Events#show</h1>
<%= form_with model:@attendance, url: create_or_update_attendances_path, local: true do |form| %>
<p>
    <strong>日付</strong>
    <%= @event.date %>
</p>

<p>
    <strong>時間</strong>
    <%= @event.start_time.to_s(:time) %>
    <%= @event.end_time.to_s(:time) %>
</p>
<p>
    <strong>場所</strong>
    <%= @event.location %>
</p>
<p>
    <strong>出欠</strong>
    <%= form.select :attendance, Attendance.attendances_i18n.keys.map {|k| [Attendance.attendances_i18n[k], k]} %>
    <%= hidden_field_tag 'attendance[event_id]', params[:id] %>

</p>
<p>
    <strong>メモ</strong>
    <%= @event.memo %>
</p>
    <%= form.submit %>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Back', events_path %>

<p>Find me in app/views/events/show.html.erb</p>